.thm-box {
    margin: 2rem 0;
    overflow: auto;
}
.thm-box .box-title {
    background-color: #5499C7;
    color: white;
    padding: 8px 15px;
    border-radius: 5px 5px 0 0;
}
.thm-box .box-title p {
    margin: 0;
}
.thm-box .box-content {
    border: 1px #ddd solid;
    padding: 0 15px;
}